.clear {
    clear: both;
}

#sessao-cardapio {

}

.botoes-cardapio {
  border: none;
  background: transparent;
  margin: 40px auto;
}

.cardapios {
  list-style: none;
}

.titulopreco {
  font-family: 'Lato', sans-serif;
}

.titulo {
  color: red;
  float: left;
}

.preco {
  color: green;
  float: right;
}

.descricao {
  clear: both;
}
